body{
    font-family: 'Montserrat', sans-serif;
}

.container-fluid{
  padding: 3% 15% 7%;
}

.rotate{
    /* transform: rotate(25deg);
    width: 25%;
    margin-left: 25px;
    position: absolute;
    right: 23%; */

    transform: rotate(25deg);
    width: 23%;
    right: 23%;
    position: absolute;
}

.features {
  background-color: #fff;
  color: #8f8f8f;
  padding: 5% 15%;
  position: relative;
  z-index: 1;
}


h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}



.features-icons {
  color: #ef8172;
  margin-bottom: 1.3rem;
}

.features-icons:hover{
  color: #ff4c68;
}


.col-lg-4 {
  text-align: center;
  padding: 2.5%;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #000;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.navbar{
  padding: 0 0 2.5rem;
}

.nav-item{
  padding: 0 15px;
}

.nav-link{
  font-size: 1.2rem;
  font-weight: lighter;
}

.btn-download {
  margin: 5% 3% 5% 0;
}

.title {
  background-color: #ff4c68;
  color: #fff;
}

.testimonials {
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonials-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
  transition: transform 0.2s;
}

.testimonials-image:hover {
  transform: scale(1.3);
}

.press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
  transition: transform .2s;
}

.press-image:hover {
  transform: scale(1.1);
}

.pricing {
  padding: 100px;
  text-align: center;
}

.pricing-head {
  font-size: 2.5rem;
}

.pricing-decp {
  font-size: 1.2rem;
}

.btn-block {
  width: 100%;
}

.card {
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.08);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
}

/* cta section */

.cta {
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 5%;
}

.cta-heading {
  font-weight: bold;
  font-size: 3rem;
  color: #fff;
  width: 60%;
  margin: auto;
}

.cta-btn {
  margin-bottom: 5px;
}

.footer {
  text-align: center;
  padding: 4% 10%;
  padding-bottom: 2%;
}

.footer-links{
  margin: 10px;
  text-decoration: none;
  color: #000;
}

.copyright {
  color: #9e9c98;
  font-size: 1.1rem;
  margin-top: 20px;
}
/* Media Queries */

@media (max-width: 1028px) {

  .rotate{
    position: static;
    transform: rotate(0);
    width: 80%;
  }

  .title {
    text-align: center;
  }

}
